<section class="session-new">

  <header class="page-header">
    <h1>Login In</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for @user, url:{action:"create"}, method: :post do |form| %>

        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

         <div class="form-group">
          <%= form.label :email %>
          <%= form.email_field :email, class: 'form-control' %>
        </div>

         <div class="form-group">
          <%= form.label :password %>
          <%= form.password_field :password, class: 'form-control' %>
        </div>

        <%= form.submit 'Login In', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
